* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*, *:before, *:after {
    box-sizing: inherit;
} 
html, 
body{
    font-family: 'Proza Libre', sans-serif;
    font-weight: 400;
    font-size: 16px;
    width: 100%;

    background-color: #D4D4D4;
}
/********** NAV **********/

nav {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}
.logo {
    width: 8rem;
    height: 8rem;
    cursor: pointer;
}
/********** MAIN **********/
.container-fluid {
    width: 80%;
}
.row {
    margin-top: -2rem;
}

.col {
    border: 1px solid rgb(0, 0, 0);
    height: 20rem;
    margin: 2rem;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    background-color: rgb(233, 230, 227);
}
